<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.graddraft" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.example.peter.graddraft.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.peter.graddraft.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/smartlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.default" /> // was category.launcher
            </intent-filter>

        </activity>
        <activity android:name=".MyNodes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service android:name="org.eclipse.paho.android.service.MqttService">
        </service>
        <activity android:name=".MyLogs"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service android:name=".sync.AccountAuthenticatorService"
            android:exported="true" android:process=":auth"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".sync.GradSyncService"
            android:exported="true"
            android:enabled="true"

            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <provider
            android:authorities="com.example.peter.graddraft"
            android:name=".data.DataProvider"
            android:syncable="true"
            android:enabled="true"
            android:exported="true"
            />
        <receiver
            android:exported="true"

            android:name="com.example.peter.graddraft.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        <activity android:name=".Splash">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>


</manifest>
